@import url('https://fonts.cdnfonts.com/css/faith-hope');
@import url('https://fonts.cdnfonts.com/css/daydreamer-3');
.elementor-2 .elementor-element.elementor-element-aab766e>.elementor-container {
	max-width: 1600px;
}

.elementor-2 .elementor-element.elementor-element-aab766e>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-aab766e:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-aab766e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #233dff;
	background-image: url("../../2023/05/7201549-scaled-e1684608040760.jpg");
	background-position: center center;
	background-size: cover;
}

.elementor-2 .elementor-element.elementor-element-aab766e,
.elementor-2 .elementor-element.elementor-element-aab766e>.elementor-background-overlay {
	border-radius: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-aab766e {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	z-index: 1000;
}

.elementor-2 .elementor-element.elementor-element-aab766e>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-1ed8e1b9 {
	text-align: left;
}

.elementor-2 .elementor-element.elementor-element-1ed8e1b9 img {
	width: 100%;
	max-width: 42%;
	height: 73px;
	object-fit: contain;
}

.elementor-2 .elementor-element.elementor-element-1ed8e1b9>.elementor-widget-container {
	margin: 5px 0px 5px 020px;
}

.elementor-bc-flex-widget .elementor-2 .elementor-element.elementor-element-70e598ed.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-70e598ed.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-menu-toggle {
	margin-left: auto;
	background-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-nav-menu .elementor-item {
	font-family: 'Faith Hope', sans-serif;
	font-weight: 600;
}

.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-nav-menu--main .elementor-item {
	color: #FFFFFF;
	fill: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-nav-menu--main .elementor-item:hover,
.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-nav-menu--main .elementor-item:focus {
	color: #ED1637;
	fill: #ED1637;
}

.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-nav-menu--dropdown a,
.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-menu-toggle {
	color: #000000;
}

.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-nav-menu--dropdown {
	background-color: #FFFFFFD4;
}

.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-nav-menu--dropdown .elementor-item,
.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: "Bevan", Sans-serif;
	font-weight: 500;
}

.elementor-2 .elementor-element.elementor-element-0aac365 div.elementor-menu-toggle {
	color: #ED1637;
}

.elementor-2 .elementor-element.elementor-element-0aac365 div.elementor-menu-toggle svg {
	fill: #ED1637;
}

.elementor-bc-flex-widget .elementor-2 .elementor-element.elementor-element-9873c32.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-9873c32.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-1a5b4f7 {
	--grid-template-columns: repeat(0, auto);
	--grid-column-gap: 5px;
	--grid-row-gap: 0px;
}

.elementor-2 .elementor-element.elementor-element-1a5b4f7 .elementor-widget-container {
	text-align: center;
}

.elementor-bc-flex-widget .elementor-2 .elementor-element.elementor-element-d156f9b.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-d156f9b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-c4fc7f0 .elementor-button {
	font-family: 'Faith Hope', sans-serif;
	font-weight: 400;
	fill: #000000;
	color: #000000;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #000000;
	border-radius: 10px 10px 10px 10px;
}

.elementor-2 .elementor-element.elementor-element-c4fc7f0 .elementor-button:hover,
.elementor-2 .elementor-element.elementor-element-c4fc7f0 .elementor-button:focus {
	color: #000000;
	background-color: #FFFFFF;
	border-color: #000000;
}

.elementor-2 .elementor-element.elementor-element-c4fc7f0 .elementor-button:hover svg,
.elementor-2 .elementor-element.elementor-element-c4fc7f0 .elementor-button:focus svg {
	fill: #000000;
}

.elementor-2 .elementor-element.elementor-element-c4fc7f0>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-b936701:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-b936701>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #233dff;
	background-image: url("../../2023/05/background-e16850062117891.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2 .elementor-element.elementor-element-b936701 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
}

.elementor-2 .elementor-element.elementor-element-b936701>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-b936701>.elementor-shape-bottom .elementor-shape-fill {
	fill: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-652ebaf {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-652ebaf img {
	width: 46%;
	max-width: 100%;
}

.elementor-2 .elementor-element.elementor-element-652ebaf>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-1240abc {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-1240abc .elementor-heading-title {
	color: #ED1637;
	font-family: "Bowlby One", Sans-serif;
	font-size: 54px;
	font-weight: 600;
	text-shadow: 0px 0px 10px #000000;
}

.elementor-2 .elementor-element.elementor-element-41939e7 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-41939e7 .elementor-heading-title {
	color: #ED1637;
	font-family: 'Faith Hope', sans-serif;
	font-size: 116px;
	font-weight: bold;
	text-shadow: 0px 0px 10px #000000;
}

.elementor-2 .elementor-element.elementor-element-41939e7>.elementor-widget-container {
	margin: -23px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-3247572 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-3247572 .elementor-heading-title {
	color: #ED1637;
	font-family: 'Faith Hope', sans-serif;
	font-size: 19px;
	font-weight: bold;
	text-shadow: 0px 0px 10px #000000;
}

.elementor-2 .elementor-element.elementor-element-3247572>.elementor-widget-container {
	margin: -23px 100px 0px 100px;
}

.elementor-2 .elementor-element.elementor-element-b430e62 {
	--grid-template-columns: repeat(0, auto);
	--grid-column-gap: 5px;
	--grid-row-gap: 0px;
}

.elementor-2 .elementor-element.elementor-element-b430e62 .elementor-widget-container {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-78bf319 .ue_coupon_code {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-78bf319 .click-to-copy__text,
.elementor-2 .elementor-element.elementor-element-78bf319 .copy_succes {
	padding: 10px 10px 10px 10px;
	min-width: 100px;
}

.elementor-2 .elementor-element.elementor-element-78bf319 .click-to-copy__text {
	background-color: #58b4e7;
	border-style: dotted;
	border-width: 3px 3px 3px 3px;
	border-color: #ED1637;
	border-radius: 0px;
}

.elementor-2 .elementor-element.elementor-element-78bf319 .click-to-copy {
	color: #fff;
	font-family: "Kabob", Sans-serif;
	font-weight: 400;
}

.elementor-2 .elementor-element.elementor-element-78bf319 .copy_succes {
	border-radius: 0px;
	background-color: #96d600;
}

.elementor-2 .elementor-element.elementor-element-78bf319 .uc-is-copied {
	color: #ffffff;
}

.elementor-2 .elementor-element.elementor-element-78bf319 .uc-is-copied a {
	color: #ffffff;
}

.elementor-2 .elementor-element.elementor-element-0dfb06b {
	margin-top: 0px;
	margin-bottom: 100px;
}

.elementor-2 .elementor-element.elementor-element-45e84f3 .elementor-button {
	font-family: 'Faith Hope', sans-serif;
	font-weight: 400;
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #ED1637;
	border-style: solid;
	border-color: #000000;
	border-radius: 10px 10px 10px 10px;
}

.elementor-2 .elementor-element.elementor-element-45e84f3 .elementor-button:hover,
.elementor-2 .elementor-element.elementor-element-45e84f3 .elementor-button:focus {
	color: #FFFFFF;
	background-color: #ED1637;
	border-color: #000000;
}

.elementor-2 .elementor-element.elementor-element-45e84f3 .elementor-button:hover svg,
.elementor-2 .elementor-element.elementor-element-45e84f3 .elementor-button:focus svg {
	fill: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-45e84f3>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-bd5c3dd .elementor-button {
	font-family: 'Faith Hope', sans-serif;
	font-weight: 400;
	fill: #000000;
	color: #000000;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #000000;
	border-radius: 10px 10px 10px 10px;
}

.elementor-2 .elementor-element.elementor-element-bd5c3dd .elementor-button:hover,
.elementor-2 .elementor-element.elementor-element-bd5c3dd .elementor-button:focus {
	color: #000000;
	background-color: #FFFFFF;
	border-color: #000000;
}

.elementor-2 .elementor-element.elementor-element-bd5c3dd .elementor-button:hover svg,
.elementor-2 .elementor-element.elementor-element-bd5c3dd .elementor-button:focus svg {
	fill: #000000;
}

.elementor-2 .elementor-element.elementor-element-bd5c3dd>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-f80994c .elementor-button {
	font-family: 'Faith Hope', sans-serif;
	font-weight: 400;
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #DD072F;
	border-style: solid;
	border-color: #000000;
	border-radius: 10px 10px 10px 10px;
}

.elementor-2 .elementor-element.elementor-element-f80994c .elementor-button:hover,
.elementor-2 .elementor-element.elementor-element-f80994c .elementor-button:focus {
	color: #FFFFFF;
	background-color: #DD072F;
	border-color: #000000;
}

.elementor-2 .elementor-element.elementor-element-f80994c .elementor-button:hover svg,
.elementor-2 .elementor-element.elementor-element-f80994c .elementor-button:focus svg {
	fill: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-f80994c>.elementor-widget-container {
	margin: 0px 0px 040px 0px;
}

.elementor-2 .elementor-element.elementor-element-a4f9c20:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-a4f9c20>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-a4f9c20 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: -1px;
	margin-bottom: 0px;
}

.elementor-2 .elementor-element.elementor-element-a4f9c20>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-4a802fe {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-2 .elementor-element.elementor-element-4c2ac17.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-4c2ac17.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-2540bfc {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-2540bfc img {
	width: 100%;
	max-width: 100%;
}

.elementor-bc-flex-widget .elementor-2 .elementor-element.elementor-element-098c38d.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-098c38d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-71cbbc1 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-71cbbc1 .elementor-heading-title {
	color: #58b4e7;
	font-family: 'Faith Hope', sans-serif;
	font-size: 83px;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-71cbbc1>.elementor-widget-container {
	margin: -23px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-3381c5a {
	text-align: center;
	color: #000000;
	font-family: 'Faith Hope', sans-serif;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-3381c5a>.elementor-widget-container {
	margin: 0px 50px 0px 50px;
}

.elementor-2 .elementor-element.elementor-element-2c56c19>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-2c56c19:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-2c56c19>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #58b4e7;
}

.elementor-2 .elementor-element.elementor-element-2c56c19>.elementor-background-overlay {
	background-color: #000000;
	opacity: 0;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-2c56c19 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: -1px;
	margin-bottom: 0px;
	padding: 0px 0px 0150px 0px;
}

.elementor-2 .elementor-element.elementor-element-2c56c19>.elementor-shape-top .elementor-shape-fill {
	fill: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-2c56c19>.elementor-shape-bottom .elementor-shape-fill {
	fill: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-2c56c19>.elementor-shape-bottom {
	z-index: 2;
	pointer-events: none;
}

.elementor-2 .elementor-element.elementor-element-67eb3251>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-3122cb8 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-3122cb8 .elementor-heading-title {
	color: #ED1637;
	font-family: 'Faith Hope', sans-serif;
	font-size: 83px;
	font-weight: bold;
	text-shadow: 0px 0px 10px #000000;
}

.elementor-2 .elementor-element.elementor-element-3122cb8>.elementor-widget-container {
	margin: 200px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-7e15825 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-7e15825 .elementor-heading-title {
	color: #000000;
	font-family: 'Faith Hope', sans-serif;
	font-weight: 600;
}

.elementor-2 .elementor-element.elementor-element-7e15825>.elementor-widget-container {
	margin: 0px 50px 0px 50px;
}

.elementor-2 .elementor-element.elementor-element-00aed5a {
	margin-top: 0px;
	margin-bottom: 050px;
	padding: 15px 10px 0px 10px;
}

.elementor-2 .elementor-element.elementor-element-76da05a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2 .elementor-element.elementor-element-76da05a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #DD072F;
}

.elementor-2 .elementor-element.elementor-element-76da05a>.elementor-element-populated {
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #000000;
	box-shadow: 0px 0px 50px 0px #FFFFFF;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 50px 0px 50px;
	--e-column-margin-right: 50px;
	--e-column-margin-left: 50px;
	padding: 55px 55px 55px 55px;
}

.elementor-2 .elementor-element.elementor-element-76da05a>.elementor-element-populated,
.elementor-2 .elementor-element.elementor-element-76da05a>.elementor-element-populated>.elementor-background-overlay,
.elementor-2 .elementor-element.elementor-element-76da05a>.elementor-background-slideshow {
	border-radius: 26px 26px 26px 26px;
}

.elementor-2 .elementor-element.elementor-element-76da05a:hover>.elementor-element-populated {
	border-style: solid;
	border-width: 5px 5px 5px 5px;
}

.elementor-2 .elementor-element.elementor-element-76da05a>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-6a51096 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-6a51096 .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Faith Hope', sans-serif;
	font-size: 82px;
	font-weight: 600;
}

.elementor-2 .elementor-element.elementor-element-c4fcb09 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-c4fcb09 .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Faith Hope', sans-serif;
	font-size: 49px;
	font-weight: 600;
}

.elementor-2 .elementor-element.elementor-element-d37c502>.elementor-widget-container {
	margin: 0px 0px -151px 0px;
}

.elementor-2 .elementor-element.elementor-element-3f6102d:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-3f6102d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-3f6102d {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: -1px;
	margin-bottom: 0px;
}

.elementor-2 .elementor-element.elementor-element-3f6102d>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-202c342>.elementor-element-populated {
	margin: 50px 0px 50px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-074e2d5 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-074e2d5 .elementor-heading-title {
	color: #58b4e7;
	font-family: 'Faith Hope', sans-serif;
	font-size: 83px;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-074e2d5>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-9828cbc {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-9828cbc .elementor-heading-title {
	color: #58b4e7;
	font-family: 'Faith Hope', sans-serif;
	font-size: 31px;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-9828cbc>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-627e24f {
	text-align: center;
	color: #000000;
	font-family: 'Faith Hope', sans-serif;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-627e24f>.elementor-widget-container {
	margin: -25px 50px 0px 50px;
}

.elementor-2 .elementor-element.elementor-element-646c089 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-646c089 .elementor-heading-title {
	color: #58b4e7;
	font-family: 'Faith Hope', sans-serif;
	font-size: 31px;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-646c089>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-e1af2b5 {
	text-align: center;
	color: #000000;
	font-family: 'Faith Hope', sans-serif;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-e1af2b5>.elementor-widget-container {
	margin: -25px 50px 0px 50px;
}

.elementor-2 .elementor-element.elementor-element-6cc79b9 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-6cc79b9 .elementor-heading-title {
	color: #58b4e7;
	font-family: 'Faith Hope', sans-serif;
	font-size: 31px;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-6cc79b9>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-fa3c8de {
	text-align: center;
	color: #000000;
	font-family: 'Faith Hope', sans-serif;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-fa3c8de>.elementor-widget-container {
	margin: -25px 50px 0px 50px;
}

.elementor-2 .elementor-element.elementor-element-34bd376 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-34bd376 .elementor-heading-title {
	color: #58b4e7;
	font-family: 'Faith Hope', sans-serif;
	font-size: 31px;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-34bd376>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-1f3aa76 {
	text-align: center;
	color: #000000;
	font-family: 'Faith Hope', sans-serif;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-1f3aa76>.elementor-widget-container {
	margin: -25px 50px 0px 50px;
}

.elementor-bc-flex-widget .elementor-2 .elementor-element.elementor-element-10468c5.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-10468c5.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-36d9265:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-36d9265>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000571;
	background-image: url("../../2023/05/background-1-e16850062636491.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2 .elementor-element.elementor-element-36d9265>.elementor-background-overlay {
	background-color: #000000;
	opacity: 0;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-36d9265 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-36d9265>.elementor-shape-top .elementor-shape-fill {
	fill: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-36d9265>.elementor-shape-bottom .elementor-shape-fill {
	fill: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-3293a08 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-3293a08 .elementor-heading-title {
	color: #ED1637;
	font-family: 'Faith Hope', sans-serif;
	font-size: 133px;
	font-weight: bold;
	text-shadow: 0px 0px 10px #000000;
}

.elementor-2 .elementor-element.elementor-element-3293a08>.elementor-widget-container {
	margin: 200px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-ece8cb9 {
	margin-top: 0px;
	margin-bottom: 0150px;
	padding: 15px 10px 0px 10px;
}

.elementor-2 .elementor-element.elementor-element-4ac460b:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2 .elementor-element.elementor-element-4ac460b>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #DD072F;
}

.elementor-2 .elementor-element.elementor-element-4ac460b>.elementor-element-populated {
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #000000;
	box-shadow: 0px 0px 50px 0px #FFFFFF;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
	--e-column-margin-right: 10px;
	--e-column-margin-left: 10px;
	padding: 55px 55px 55px 55px;
}

.elementor-2 .elementor-element.elementor-element-4ac460b>.elementor-element-populated,
.elementor-2 .elementor-element.elementor-element-4ac460b>.elementor-element-populated>.elementor-background-overlay,
.elementor-2 .elementor-element.elementor-element-4ac460b>.elementor-background-slideshow {
	border-radius: 26px 26px 26px 26px;
}

.elementor-2 .elementor-element.elementor-element-4ac460b:hover>.elementor-element-populated {
	border-style: solid;
	border-width: 5px 5px 5px 5px;
}

.elementor-2 .elementor-element.elementor-element-4ac460b>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-4f5e863 {
	text-align: left;
}

.elementor-2 .elementor-element.elementor-element-4f5e863 .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Faith Hope', sans-serif;
	font-size: 30px;
	font-weight: 600;
}

.elementor-2 .elementor-element.elementor-element-c8f2d8b {
	column-gap: 0px;
	text-align: left;
	color: #FFFFFF;
	font-family: 'Faith Hope', sans-serif;
	font-weight: bold;
	width: var(--container-widget-width, 100%);
	max-width: 100%;
	--container-widget-width: 100%;
	--container-widget-flex-grow: 0;
}

.elementor-2 .elementor-element.elementor-element-c8f2d8b>.elementor-widget-container {
	margin: 0px -16px 0px -16px;
}

.elementor-2 .elementor-element.elementor-element-f374ed9.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-2 .elementor-element.elementor-element-f374ed9:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2 .elementor-element.elementor-element-f374ed9>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-f374ed9>.elementor-element-populated {
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #000000;
	box-shadow: 0px 0px 50px 0px #FFFFFF;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
	--e-column-margin-right: 10px;
	--e-column-margin-left: 10px;
	padding: 55px 55px 55px 55px;
}

.elementor-2 .elementor-element.elementor-element-f374ed9>.elementor-element-populated,
.elementor-2 .elementor-element.elementor-element-f374ed9>.elementor-element-populated>.elementor-background-overlay,
.elementor-2 .elementor-element.elementor-element-f374ed9>.elementor-background-slideshow {
	border-radius: 26px 26px 26px 26px;
}

.elementor-2 .elementor-element.elementor-element-f374ed9:hover>.elementor-element-populated {
	border-style: solid;
	border-width: 5px 5px 5px 5px;
}

.elementor-2 .elementor-element.elementor-element-f374ed9>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-857f8ba {
	text-align: left;
}

.elementor-2 .elementor-element.elementor-element-857f8ba .elementor-heading-title {
	color: #000000;
	font-family: 'Faith Hope', sans-serif;
	font-size: 30px;
	font-weight: 600;
}

.elementor-2 .elementor-element.elementor-element-9e73a50 {
	column-gap: 0px;
	text-align: left;
	color: #000000;
	font-family: 'Faith Hope', sans-serif;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-9e73a50>.elementor-widget-container {
	margin: 0px -16px 0px -16px;
}

.elementor-2 .elementor-element.elementor-element-a83eb57:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2 .elementor-element.elementor-element-a83eb57>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #ED1637;
}

.elementor-2 .elementor-element.elementor-element-a83eb57>.elementor-element-populated {
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #000000;
	box-shadow: 0px 0px 50px 0px #FFFFFF;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 10px 10px 10px;
	--e-column-margin-right: 10px;
	--e-column-margin-left: 10px;
	padding: 55px 55px 55px 55px;
}

.elementor-2 .elementor-element.elementor-element-a83eb57>.elementor-element-populated,
.elementor-2 .elementor-element.elementor-element-a83eb57>.elementor-element-populated>.elementor-background-overlay,
.elementor-2 .elementor-element.elementor-element-a83eb57>.elementor-background-slideshow {
	border-radius: 26px 26px 26px 26px;
}

.elementor-2 .elementor-element.elementor-element-a83eb57:hover>.elementor-element-populated {
	border-style: solid;
	border-width: 5px 5px 5px 5px;
}

.elementor-2 .elementor-element.elementor-element-a83eb57>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-cbef245 {
	text-align: left;
}

.elementor-2 .elementor-element.elementor-element-cbef245 .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Faith Hope', sans-serif;
	font-size: 30px;
	font-weight: 600;
}

.elementor-2 .elementor-element.elementor-element-8b25ffe {
	column-gap: 0px;
	text-align: left;
	color: #FFFFFF;
	font-family: 'Faith Hope', sans-serif;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-8b25ffe>.elementor-widget-container {
	margin: 0px -16px 0px -16px;
}

.elementor-2 .elementor-element.elementor-element-2cc9647:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-2cc9647>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-2cc9647 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: -1px;
	margin-bottom: 0px;
}

.elementor-2 .elementor-element.elementor-element-2cc9647>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-2 .elementor-element.elementor-element-d72790e.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-d72790e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-2 .elementor-element.elementor-element-456ff56>.elementor-element-populated {
	margin: 50px 0px 50px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-7c75231 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-7c75231 .elementor-heading-title {
	color: #58b4e7;
	font-family: 'Faith Hope', sans-serif;
	font-size: 83px;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-7c75231>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-510085a {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-510085a .elementor-heading-title {
	color: #58b4e7;
	font-family: 'Faith Hope', sans-serif;
	font-size: 31px;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-510085a>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-e04c4ed {
	text-align: center;
	color: #000000;
	font-family: 'Faith Hope', sans-serif;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-e04c4ed>.elementor-widget-container {
	margin: -25px 50px 0px 50px;
}

.elementor-2 .elementor-element.elementor-element-61c8f95 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-61c8f95 .elementor-heading-title {
	color: #58b4e7;
	font-family: 'Faith Hope', sans-serif;
	font-size: 31px;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-61c8f95>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-b88b9fa {
	text-align: center;
	color: #000000;
	font-family: 'Faith Hope', sans-serif;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-b88b9fa>.elementor-widget-container {
	margin: -25px 50px 0px 50px;
}

.elementor-2 .elementor-element.elementor-element-28ae938 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-28ae938 .elementor-heading-title {
	color: #58b4e7;
	font-family: 'Faith Hope', sans-serif;
	font-size: 31px;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-28ae938>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-3f93c93 {
	text-align: center;
	color: #000000;
	font-family: 'Faith Hope', sans-serif;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-3f93c93>.elementor-widget-container {
	margin: -25px 50px 0px 50px;
}

.elementor-2 .elementor-element.elementor-element-573610e .ue_coupon_code {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-573610e .click-to-copy__text,
.elementor-2 .elementor-element.elementor-element-573610e .copy_succes {
	padding: 10px 10px 10px 10px;
	min-width: 100px;
}

.elementor-2 .elementor-element.elementor-element-573610e .click-to-copy__text {
	background-color: #58b4e7;
	border-style: dotted;
	border-width: 3px 3px 3px 3px;
	border-color: #ED1637;
	border-radius: 0px;
}

.elementor-2 .elementor-element.elementor-element-573610e .click-to-copy {
	color: #000000;
	font-family: "Kabob", Sans-serif;
	font-weight: 400;
}

.elementor-2 .elementor-element.elementor-element-573610e .copy_succes {
	border-radius: 0px;
	background-color: #96d600;
}

.elementor-2 .elementor-element.elementor-element-573610e .uc-is-copied {
	color: #ffffff;
}

.elementor-2 .elementor-element.elementor-element-573610e .uc-is-copied a {
	color: #ffffff;
}

.elementor-2 .elementor-element.elementor-element-573610e>.elementor-widget-container {
	margin: -19px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-e69f990 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-e69f990 .elementor-heading-title {
	color: #58b4e7;
	font-family: 'Faith Hope', sans-serif;
	font-size: 31px;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-e69f990>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-8419853 {
	text-align: center;
	color: #000000;
	font-family: 'Faith Hope', sans-serif;
	font-weight: bold;
}

.elementor-2 .elementor-element.elementor-element-8419853>.elementor-widget-container {
	margin: -25px 50px 0px 50px;
}

.elementor-2 .elementor-element.elementor-element-a0d6cbd:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-a0d6cbd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
	background-image: url("../../2023/05/7201549-scaled-e1684608040760.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2 .elementor-element.elementor-element-a0d6cbd {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: -1px;
	margin-bottom: -1px;
}

.elementor-2 .elementor-element.elementor-element-a0d6cbd>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-0f66b68 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-0f66b68 .elementor-heading-title {
	color: #ED1637;
	font-family: 'Faith Hope', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-shadow: 0px 0px 10px #000000;
}

.elementor-2 .elementor-element.elementor-element-0f66b68>.elementor-widget-container {
	margin: 200px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-36b714d {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-36b714d .elementor-heading-title {
	color: #ED1637;
	font-family: 'Faith Hope', sans-serif;
	font-size: 44px;
	font-weight: bold;
	text-shadow: 0px 0px 10px #000000;
}

.elementor-2 .elementor-element.elementor-element-36b714d>.elementor-widget-container {
	margin: -24px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-45d2eb5 {
	--grid-template-columns: repeat(0, auto);
	--grid-column-gap: 5px;
	--grid-row-gap: 0px;
}

.elementor-2 .elementor-element.elementor-element-45d2eb5 .elementor-widget-container {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-45d2eb5>.elementor-widget-container {
	margin: -14px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-2e176a4 {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-2e176a4 .elementor-heading-title {
	color: #FFFFFF;
	font-family: 'Faith Hope', sans-serif;
	font-weight: 600;
	text-shadow: 0px 0px 10px #000000;
}

:root {
	--page-title-display: none;
}

body.elementor-page-2:not(.elementor-motion-effects-element-type-background),
body.elementor-page-2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: transparent;
	background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
}

@media(min-width:768px) {
	.elementor-2 .elementor-element.elementor-element-70e598ed {
		width: 41%;
	}

	.elementor-2 .elementor-element.elementor-element-9873c32 {
		width: 9%;
	}

	.elementor-2 .elementor-element.elementor-element-4c2ac17 {
		width: 50%;
	}

	.elementor-2 .elementor-element.elementor-element-098c38d {
		width: 50%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-2 .elementor-element.elementor-element-70e598ed {
		width: 50%;
	}

	.elementor-2 .elementor-element.elementor-element-9873c32 {
		width: 50%;
	}

	.elementor-2 .elementor-element.elementor-element-d156f9b {
		width: 50%;
	}
}

@media(min-width:1025px) {

	.elementor-2 .elementor-element.elementor-element-b936701:not(.elementor-motion-effects-element-type-background),
	.elementor-2 .elementor-element.elementor-element-b936701>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: fixed;
	}

	.elementor-2 .elementor-element.elementor-element-36d9265:not(.elementor-motion-effects-element-type-background),
	.elementor-2 .elementor-element.elementor-element-36d9265>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: fixed;
	}
}

@media(max-width:1024px) {
	.elementor-2 .elementor-element.elementor-element-aab766e>.elementor-container {
		max-width: 1600px;
	}

	.elementor-2 .elementor-element.elementor-element-aab766e {
		margin-top: -42px;
		margin-bottom: -42px;
		padding: -3px -3px -3px -3px;
		z-index: 999;
	}

	.elementor-2 .elementor-element.elementor-element-7a133f61>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-1ed8e1b9 {
		text-align: left;
	}

	.elementor-2 .elementor-element.elementor-element-1ed8e1b9 img {
		width: 33%;
		max-width: 100%;
	}

	.elementor-2 .elementor-element.elementor-element-1ed8e1b9>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-70e598ed>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: -2px;
	}

	.elementor-2 .elementor-element.elementor-element-70e598ed>.elementor-element-populated {
		margin: -5px 20px -5px -5px;
		--e-column-margin-right: 20px;
		--e-column-margin-left: -5px;
		padding: -9px -9px -9px -9px;
	}

	.elementor-2 .elementor-element.elementor-element-9873c32>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: -2px;
	}

	.elementor-2 .elementor-element.elementor-element-9873c32>.elementor-element-populated {
		margin: -5px 20px -5px -5px;
		--e-column-margin-right: 20px;
		--e-column-margin-left: -5px;
		padding: -9px -9px -9px -9px;
	}

	.elementor-2 .elementor-element.elementor-element-d156f9b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: -2px;
	}

	.elementor-2 .elementor-element.elementor-element-d156f9b>.elementor-element-populated {
		margin: -5px 20px -5px -5px;
		--e-column-margin-right: 20px;
		--e-column-margin-left: -5px;
		padding: -9px -9px -9px -9px;
	}

	.elementor-2 .elementor-element.elementor-element-c4fc7f0>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-b936701:not(.elementor-motion-effects-element-type-background),
	.elementor-2 .elementor-element.elementor-element-b936701>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: center center;
	}

	.elementor-2 .elementor-element.elementor-element-652ebaf img {
		width: 67%;
	}

	.elementor-2 .elementor-element.elementor-element-652ebaf>.elementor-widget-container {
		margin: 129px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-45e84f3>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-bd5c3dd>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-f80994c>.elementor-widget-container {
		margin: 0px 0px 104px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-a4f9c20 {
		margin-top: -1px;
		margin-bottom: 0px;
	}

	.elementor-2 .elementor-element.elementor-element-2c56c19 {
		margin-top: -1px;
		margin-bottom: 0px;
		padding: 0px 25px 100px 25px;
	}

	.elementor-2 .elementor-element.elementor-element-00aed5a {
		padding: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-76da05a>.elementor-element-populated {
		padding: 25px 25px 25px 25px;
	}

	.elementor-2 .elementor-element.elementor-element-3f6102d {
		margin-top: -1px;
		margin-bottom: 0px;
	}

	.elementor-2 .elementor-element.elementor-element-ece8cb9 {
		padding: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-4ac460b>.elementor-element-populated {
		padding: 25px 25px 25px 25px;
	}

	.elementor-2 .elementor-element.elementor-element-f374ed9>.elementor-element-populated {
		padding: 25px 25px 25px 25px;
	}

	.elementor-2 .elementor-element.elementor-element-a83eb57>.elementor-element-populated {
		padding: 25px 25px 25px 25px;
	}

	.elementor-2 .elementor-element.elementor-element-2cc9647 {
		margin-top: -1px;
		margin-bottom: 0px;
	}

	.elementor-2 .elementor-element.elementor-element-a0d6cbd {
		margin-top: -1px;
		margin-bottom: 0px;
	}
}

@media(max-width:767px) {
	.elementor-2 .elementor-element.elementor-element-aab766e>.elementor-container {
		max-width: 1600px;
	}

	.elementor-2 .elementor-element.elementor-element-aab766e {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 10px 10px 10px 10px;
	}

	.elementor-2 .elementor-element.elementor-element-7a133f61 {
		width: 30%;
	}

	.elementor-bc-flex-widget .elementor-2 .elementor-element.elementor-element-7a133f61.elementor-column .elementor-widget-wrap {
		align-items: flex-start;
	}

	.elementor-2 .elementor-element.elementor-element-7a133f61.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: flex-start;
		align-items: flex-start;
	}

	.elementor-2 .elementor-element.elementor-element-7a133f61>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: -10px;
	}

	.elementor-2 .elementor-element.elementor-element-7a133f61>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-1ed8e1b9 {
		text-align: left;
	}

	.elementor-2 .elementor-element.elementor-element-1ed8e1b9 img {
		width: 100%;
		max-width: 100%;
		height: 51px;
	}

	.elementor-2 .elementor-element.elementor-element-1ed8e1b9>.elementor-widget-container {
		margin: -3px -3px -3px -56px;
		padding: -1px -1px -1px -1px;
	}

	.elementor-2 .elementor-element.elementor-element-70e598ed {
		width: 70%;
	}

	.elementor-2 .elementor-element.elementor-element-70e598ed>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: 0px;
	}

	.elementor-2 .elementor-element.elementor-element-70e598ed>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: -1px -1px -1px -1px;
	}

	.elementor-2 .elementor-element.elementor-element-0aac365 .elementor-menu-toggle {
		border-width: 3px;
		border-radius: 9px;
	}

	.elementor-2 .elementor-element.elementor-element-9873c32 {
		width: 70%;
	}

	.elementor-2 .elementor-element.elementor-element-9873c32>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: 0px;
	}

	.elementor-2 .elementor-element.elementor-element-9873c32>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: -1px -1px -1px -1px;
	}

	.elementor-2 .elementor-element.elementor-element-d156f9b {
		width: 70%;
	}

	.elementor-2 .elementor-element.elementor-element-d156f9b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
		margin-bottom: 0px;
	}

	.elementor-2 .elementor-element.elementor-element-d156f9b>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: -1px -1px -1px -1px;
	}

	.elementor-2 .elementor-element.elementor-element-c4fc7f0>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-3d4af00 {
		margin-top: -8px;
		margin-bottom: 0px;
	}

	.elementor-2 .elementor-element.elementor-element-652ebaf {
		text-align: center;
	}

	.elementor-2 .elementor-element.elementor-element-652ebaf img {
		width: 100%;
	}

	.elementor-2 .elementor-element.elementor-element-652ebaf>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-1240abc .elementor-heading-title {
		font-size: 14px;
	}

	.elementor-2 .elementor-element.elementor-element-41939e7 .elementor-heading-title {
		font-size: 40px;
	}

	.elementor-2 .elementor-element.elementor-element-3247572 .elementor-heading-title {
		font-size: 14px;
	}

	.elementor-2 .elementor-element.elementor-element-3247572>.elementor-widget-container {
		margin: -18px 0px 12px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-78bf319 .click-to-copy {
		font-size: 12px;
	}

	.elementor-2 .elementor-element.elementor-element-0dfb06b {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-2 .elementor-element.elementor-element-45e84f3>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-bd5c3dd>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-f80994c>.elementor-widget-container {
		margin: 0px 0px 57px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-a4f9c20 {
		margin-top: -1px;
		margin-bottom: 0px;
	}

	.elementor-2 .elementor-element.elementor-element-4a802fe {
		margin-top: -19px;
		margin-bottom: 0px;
	}

	.elementor-2 .elementor-element.elementor-element-2540bfc>.elementor-widget-container {
		margin: 30px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-71cbbc1 .elementor-heading-title {
		font-size: 65px;
	}

	.elementor-2 .elementor-element.elementor-element-71cbbc1>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-3381c5a>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-2c56c19 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-3122cb8 .elementor-heading-title {
		font-size: 42px;
	}

	.elementor-2 .elementor-element.elementor-element-3122cb8>.elementor-widget-container {
		margin: 100px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-7e15825 .elementor-heading-title {
		font-size: 12px;
	}

	.elementor-2 .elementor-element.elementor-element-7e15825>.elementor-widget-container {
		margin: -17px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-00aed5a {
		margin-top: 0px;
		margin-bottom: 050px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-76da05a>.elementor-element-populated {
		margin: 15px 15px 15px 15px;
		--e-column-margin-right: 15px;
		--e-column-margin-left: 15px;
		padding: 30px 30px 30px 30px;
	}

	.elementor-2 .elementor-element.elementor-element-6a51096 .elementor-heading-title {
		font-size: 55px;
	}

	.elementor-2 .elementor-element.elementor-element-6a51096>.elementor-widget-container {
		margin: -18px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-c4fcb09 .elementor-heading-title {
		font-size: 26px;
	}

	.elementor-2 .elementor-element.elementor-element-c4fcb09>.elementor-widget-container {
		margin: -18px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-d37c502>.elementor-widget-container {
		margin: -47px 0px -9px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-074e2d5 .elementor-heading-title {
		font-size: 63px;
	}

	.elementor-2 .elementor-element.elementor-element-627e24f>.elementor-widget-container {
		margin: -25px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-e1af2b5>.elementor-widget-container {
		margin: -25px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-fa3c8de>.elementor-widget-container {
		margin: -25px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-1f3aa76>.elementor-widget-container {
		margin: -25px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-10468c5>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-e5c6d0d img {
		width: 82%;
	}

	.elementor-2 .elementor-element.elementor-element-e5c6d0d>.elementor-widget-container {
		margin: -26px 0px 20px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-3293a08 .elementor-heading-title {
		font-size: 53px;
	}

	.elementor-2 .elementor-element.elementor-element-3293a08>.elementor-widget-container {
		margin: 100px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-ece8cb9 {
		margin-top: 0px;
		margin-bottom: 050px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-4ac460b>.elementor-element-populated {
		margin: 15px 15px 15px 15px;
		--e-column-margin-right: 15px;
		--e-column-margin-left: 15px;
		padding: 30px 30px 30px 30px;
	}

	.elementor-2 .elementor-element.elementor-element-4f5e863 .elementor-heading-title {
		font-size: 31px;
	}

	.elementor-2 .elementor-element.elementor-element-c8f2d8b>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-f374ed9>.elementor-element-populated {
		margin: 15px 15px 15px 15px;
		--e-column-margin-right: 15px;
		--e-column-margin-left: 15px;
		padding: 30px 30px 30px 30px;
	}

	.elementor-2 .elementor-element.elementor-element-857f8ba .elementor-heading-title {
		font-size: 31px;
	}

	.elementor-2 .elementor-element.elementor-element-9e73a50>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-a83eb57>.elementor-element-populated {
		margin: 15px 15px 15px 15px;
		--e-column-margin-right: 15px;
		--e-column-margin-left: 15px;
		padding: 30px 30px 30px 30px;
	}

	.elementor-2 .elementor-element.elementor-element-cbef245 .elementor-heading-title {
		font-size: 31px;
	}

	.elementor-2 .elementor-element.elementor-element-8b25ffe>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-a65d78a img {
		width: 85%;
	}

	.elementor-2 .elementor-element.elementor-element-7c75231>.elementor-widget-container {
		margin: -45px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-e04c4ed>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-b88b9fa>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-3f93c93>.elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-573610e .click-to-copy {
		font-size: 12px;
	}

	.elementor-2 .elementor-element.elementor-element-573610e>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-8419853>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-a0d6cbd {
		margin-top: -1px;
		margin-bottom: 0px;
	}

	.elementor-2 .elementor-element.elementor-element-0f66b68 .elementor-heading-title {
		font-size: 15px;
	}

	.elementor-2 .elementor-element.elementor-element-0f66b68>.elementor-widget-container {
		margin: 50px 0px 0px 0px;
	}

	.elementor-2 .elementor-element.elementor-element-36b714d .elementor-heading-title {
		font-size: 28px;
	}
}

/* Start Custom Fonts CSS */
@font-face {
	font-family: 'Kabob';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2021/08/Kabob-Regular.html') format('truetype');
}

@font-face {
	font-family: 'Kabob';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../../2021/08/Kabob-Bold.html') format('truetype');
}

@font-face {
	font-family: 'Kabob';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2021/08/KabobExtrabold-Regular.html') format('truetype');
}

/* End Custom Fonts CSS */